.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.bottom button {
  padding: 7px 20px;
  border-radius: 5px;
  color: white;
  background: linear-gradient(to right, rgb(0, 255, 106), rgb(37, 225, 239));
  cursor: pointer;
}

.backbtn:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}
